#######  trig file ACDC
#######
#######  ignores lines with '#' character
trig_mask	0	0x0
#trig_mask	1	0x40000000
trig_mask   1   0xFFFFFFFF
#trig_mask	2	0x2000000 # Single Channel
#trig_mask  2   0x3DF3CF7D # Block channels 2, 8, 13, 14, 19, 20, 26
trig_mask	2	0x3FFFFFFF
#trig_mask	3 	0x1AA1A1A1
trig_mask	3	0xFBBBBBFB
#
trig_enable	0	0
trig_enable	1	1
trig_enable	2	0
trig_enable	3	0
#
trig_sign	0	0
trig_sign	1	0
trig_sign	2	0
trig_sign	3	0
#
wait_for_sys	0
rate_only	0
#
# external trig settings
# src, 0=ext, 3 = board0, 4=b1, 6=b2, 7=b3
#
hrdw_trig	1
hrdw_sl_trig	0
hrdw_src_trig	0
hrdw_slsrc_trig	0
#
#use sma trig input on AC/DC card [address    [0,1]]
sma_trig_on_fe	0	0
sma_trig_on_fe	1	0
sma_trig_on_fe	2	0
sma_trig_on_fe	3	0
#
# window < 15
coinc_window	5
#sys input pulse width for coincidence < 7
coinc_pulsew	2
#num of channels required < 30
coinc_num_ch	1
#num asics required < 5
coinc_num_asic	1
#use above values to make digitized event [0,1]
use_coinc  	0
#use trig valid to reset AC/DC relevant trig
#state machines [0,1]
use_trig_valid	0
